_private*/
*.zip
*.log
*_old*
*_OLD*
*pcap
*.prev
*.symvers
*.order
*.o
*.ko
*.mod*
.*
temp/*
Makefile
sysfs/mach-mvebu/*
sysfs/mvebu_net/*
~*
IGNORED/*
.templates/bl_body.template
.templates/bl_version.template
.templates/default.txt
.templates/makebaseline_mail.txt





xilinx_axi_pcie_ep.bit
*.diff
