_private*/
*.zip
*.log
*_old*
*_OLD*
*pcap
*.prev
*.symvers
*.order
*.o
*.ko
*.mod*
.*
temp/*
Makefile

~*

.templates/bl_body.template
.templates/bl_version.template
.templates/default.txt
.templates/makebaseline_mail.txt



