_private*/
*.zip
*.log
*_old*
*_OLD*
*pcap
*.prev
*Kconfig*
*.symvers
*.order
*.o
*.ko
*.mod*
.*

~*

.templates/bl_body.template
.templates/bl_version.template
.templates/default.txt
.templates/makebaseline_mail.txt
