/****************************************************************************
* This program is free software: you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the Free
* Software Foundation, either version 2 of the License, or any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program.  If not, see <http://www.gnu.org/licenses/>.
* ***************************************************************************
*/

/*
 * Device Tree file for Marvell Armada 7040 RZ development board
 */

#include "armada-7040rz-db.dtsi"

/ {
	model = "Marvell Armada-7040-RZ development board router setup";
	compatible = "marvell,armada7040-rz-db-router";
	#address-cells = <2>;
	#size-cells = <2>;

	chosen { };

	/* Enable units for this configuration */
	cpn-110-master {
		config-space {
			mdio {
				#address-cells = <1>;
				#size-cells = <0>;
				phy2: ethernet-phy@2 {
					reg = <0>;
				};
				phy3: ethernet-phy@3 {
					reg = <1>;
				};
			};
			gop {
				emac0: mac0 {
					phy-mode = "sgmii"; /* lane-2 */
					status = "okay";
				};
				emac2: mac2 {
					phy-mode = "rgmii"; /* rgmii-0 */
					phy = <&phy2>;
					status = "okay";
				};
				emac3: mac3 {
					phy-mode = "rgmii"; /* rgmii-1 */
					phy = <&phy3>;
					status = "okay";
				};
			};
			ppv22@000000 {
				eth0: eth0@010000 {
					status = "okay";
				};
				eth1: eth1@020000 {
					status = "okay";
				};
				eth2: eth2@030000 {
					status = "okay";
				};
			};
			sata: sata@540000 {
				status = "okay";
			};
			spi@700680 {
				status = "okay";
			};
			usb3h0: usb3@500000 {
				status = "okay";
			};
			usb3h1: usb3@510000 {
				status = "okay";
			};
		};
		pcie@0x640000 {
			status = "okay";
		};
	};
};
